class Counter extends StatelessWidget {
  @override
  Widget build(BuildContext context) {
    return Scaffold(
      body: Selector<SubjectProvider, Object>(
        selector: (context, provider) => object,
        builder: (context, value, child) {
          return Text('Counter');
        },
      ),
    );
  }
}
